/* =========================================
   OTHER TABS
   ERROR.TIMELINE_NOT_FOUND
   ========================================= */

/* Option wheel */
#optionWheel {
	position:absolute;
	top:0;
	left:0;
	height:50px;
	width:50px;
	cursor:pointer;
	transition:.3s;
}
#optionWheel:hover {
	transform:rotate(360deg);
	filter:drop-shadow(0 0 8px var(--error));
}


/* Info button */
#info {
	font-size:20px;
	color:#fff;
	position:absolute;
	top:50px;
	left:4px;
	cursor:pointer;
	width:40px;
	height:40px;
	-webkit-text-stroke:1px var(--points);
	text-shadow:1px 0 var(--error);
}
#info:hover {
	transform:scale(1.2);
	text-shadow:5px 0 10px var(--points),-3px 0 12px var(--error);
}


/* Discord */
#discord {
	position:absolute;
	top:120px;
	left:4px;
	width:40px;
	height:40px;
}
#discord img {
	width:100%;
	height:100%;
}
#discord-links {
	position:absolute;
	top:0;
	padding-top:44px;
	left:-244px;
	width:200px;
	transition:left .3s ease;
}
#discord:hover #discord-links {
	left:-4px;
}


/* Version */
#version {
	position:absolute;
	right:4px;
	top:4px;
	text-align:right;
	color:var(--points);
	text-shadow:0 0 10px var(--points),1px 0 var(--error);
	cursor:pointer;
}
#version:hover {
	transform:scale(1.1);
	right:4.8px;
}


/* Links */
a {
	color:var(--error);
	text-decoration:none;
	cursor:pointer;
}

.link {
	display:block;
	font-size:20px;
	color:var(--points);
	cursor:pointer;
	font-family:"Lucida Console","Courier New",monospace;
	-webkit-text-stroke:1px var(--points);
	text-shadow:1px 0 var(--error);
	text-decoration:none;
}
.link:hover {
	transform:scale(1.2);
	text-shadow:5px 0 10px var(--points),-3px 0 12px var(--error);
}


/* Options */
.opt {
	height:100px;
	width:100px;
	border-radius:8px;
	border:4px solid var(--error);
	background:rgba(255,59,129,.15);
	color:var(--color);
	cursor:pointer;
	box-shadow:0 0 6px var(--error);
	transition:.15s;
}
.opt:hover {
	background:rgba(0,255,255,.2);
	border-color:var(--points);
	color:#fff;
	box-shadow:0 0 12px var(--points);
	transform:scale(1.05);
}
