/* =========================================
   POPUPS
   ERROR.TIMELINE_NOT_FOUND
   ========================================= */

.popup {
	border: 3px solid var(--error);
	border-radius: 7px;
	width: 300px;
	min-height: 60px;
	color: #fff;
	display: block;
	margin-top: 30px;
	padding: 15px 10px;
	background: rgba(5,5,8,.95);
	box-shadow:
		0 0 8px var(--error),
		inset 0 0 8px rgba(255,59,129,.15);
	font-family: "Lucida Console","Courier New",monospace;
}

.popup-container {
	position: absolute;
	z-index: 9999999999999999999999999999999999;
	right: 30px;
	width: 300px;
}

.achievement-popup {
	background: rgba(0,255,255,.15);
	border-color: var(--points);
	box-shadow: 0 0 10px var(--points);
}

.milestone-popup {
	background: rgba(255,191,0,.15);
	border-color: var(--warning);
	box-shadow: 0 0 10px var(--warning);
}

.fade-enter-active,
.fade-leave-active,
.fade-transition {
	transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.redtext {
	color: var(--error);
	text-shadow: 0 0 5px var(--error);
}

.particle {
	background-color: transparent;
	display: block;
	position: absolute;
	z-index: 99999;
	background-size: contain;
}
